@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f8d26a;
}

/* Header */

.header {
    display: flex;
    color: #f8d26a;
    background-color: #106149;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding: 5px 250px;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-links {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    gap: 18px;
    font-size: 18px;
    font-weight: 500;
}

/* Home */

.home-section {
    background-color: #106149;
    padding: 150px 250px 200px 250px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.home-heading {
    color: white;
    font-size: 56px;
    margin: 0;
}

.home-subtext {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.signup {
    background-color: #f8d26a;
    color: black;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.signup:hover {
    background-color: white;
}

.home-img {
    width: 600px;
}

/* Products */

#products {
    color: #106149;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 250px 200px 250px;
    font-size: 36px;
    gap: 50px;
    font-weight: 700;
}

.item-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

#products .item {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
}

.icon {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #106149;
}

/* Testimonials */

#testimonials {
    display: flex;
    background-color: #f8d26a;
    padding: 150px 450px;
    justify-content: center;
    gap: 100px;
}

q {
    font-size: 32px;
    font-style: italic;
}

.quote-source {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #106149;
}